gitscm-server/gitserver-sshkey/**
gitscm-server/kustomize
gitscm-server/base/git-server.yaml
gitscm-server/overlays/development/add-repo.yaml
gitscm-server/overlays/development/add-volume-and-volumemount.yaml
gitscm-server/scripts/mirror-git-repo.sh
create-branch/git-branch-scripts/create-git-branch.sh
create-branch-using-backup-and-restore/generated-manifests/**
create-branch**/generated-manifests/**
autopilot/manifest-files
autopilot/debug.log
asyncDR/debug.log
asyncDR/output/*
asyncDR/templates/aws-credentials
asyncDR/config-vars
